@charset "UTF-8";


*{
    font-family: Arial, Helvetica, sans-serif;

}

body{
    background-image: linear-gradient(to right,#6699CC,#B3D9FF);
}

main{
    background-color: white;
    border-radius: 15px;
    width: 600px;
    padding: 10px;
    margin: auto;
    box-shadow: 7px 27px 20px black;
    
}

h1{
    color: #0F2133;
    text-align: center;
    text-shadow: 1px 1.2px 0px  #0f2133cb;
}
h2{
    color:#0A3867 ;
}

p{
    text-align: justify;
}